.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #a2d9a3;
}

.PageHeaderText {
  font-family: "Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #a2d9a3;
  margin-bottom: 15px;
}

.Logo-Text {
  width: 300px;
  height: 58px;
  font-family: "Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 44px;
  letter-spacing: -0.015em;

  color: #a2d9a3;
}
.Logo-subText {
  width: 350px;
  height: 68px;
  font-family: Garamond, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 14px;
  letter-spacing: -0.015em;

  color: #a2d9a3;
}

.Button {
  width: 120px;
  height: 58px;
  border-radius: 40px;
  background:  #a2d9a3;
  font-family: "Roboto", sans-serif;
  border-radius: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.Button:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background:  #91c392;
}

.NavButton {
  width: 120px;
  height: 40px;
  /* border-radius: 40px; */
  background: #adadad;
  font-family: "Roboto", sans-serif;
  /* border-radius: 1px; */
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  /* line-height: 16px; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.ProfileImage{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.NaviBar{
  position: fixed;
  margin-bottom: 30px;
  bottom: 0;
}
 
.UploadItemPhoto{
  width: 125px;
  height: 125px;
}

.TilePhoto{
  width: 175px;
  height: 175px;
}

.UploadItemURL{
  height: 30px;
  width: 275px;
  border-radius: 10px;
  resize: none;
  margin: 2px 0;
  cursor: text;
  overflow: hidden;
  overflow-wrap: normal;
  font-size: small;
  position: relative;
}

.UploadDescription{
  height: 100px;
  width: 275px;
  margin: 2px 0;
  position: relative;
  resize: none;
  cursor: text;
  overflow: hidden;
  border-radius: 10px;
  font-size: medium;
  font-family: "Shadows Into Light", Arial;
}



.UploadName{
  height: 30px;
  width: 250px;
  margin: 2px 0;
  border: none;
  resize: none;
  text-align: center;
  background-color: lightgray;
  outline: none;
  position: relative;
  cursor: text;
  overflow: hidden;
  border-radius: 10px;
  font-size: large;
  font-family: "Shadows Into Light", Arial;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
